@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-float {
  animation: float 20s linear infinite;
}

.animate-stop {
  animation: none;
}
